body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
/* common */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Mobile screen - base styles */

.container {
 max-width: 320px;
  
  padding: 0 16px;
  margin: 0 auto;
 
  
}
/* Tablet screen */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;

  }
}
/* Desktop screen */
@media only screen and (min-width: 1158px) {
  .container {
  max-width: 1158px;
  padding: 0 15px;
}
}

/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.contacts {
  display: none;
}


.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 16px 0;
  display: block;
  /* 
  
 */
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media only screen and (min-width: 768px) {
  .burger-btn {
    display: none;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-logo {
  padding: 24px 0;
  margin-right: 120px;
}

.contacts {
  font-style: normal;
  display: block;
}

.header-nav {
  display: flex;
  align-items: center;
}


.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}
.contacts-list {
  display: flex;
flex-direction: column;
gap: 12px;
}

.contacts-link {
  display: block;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}
.contacts-link-mobile {

font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
} 

  @media only screen and (min-width: 1158px) {
    .header-logo {
      margin-right: 76px;
      }
      .contacts-list {
      flex-direction: row;
      align-items: center;
      gap: 40px;
      }
      .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
      }
      .nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color: #404bbf;
}

  }

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  padding-left: 16px;
  padding-right: 24px;

  display: flex;
  flex-direction: column;
  height: 100%;

}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}
.mobie-menu-nav {
  margin-bottom: auto;
}


@media only screen and (min-width: 768px) {
  .mobile-menu { 
  display: none;
  }
}

.nav-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
  
}

.nav-link-mobile {
 
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.nav-link-mobile.current,
.contacts-link-mobile.current
 {
  color: #404bbf;
}

.contacts-mobile{
  margin-bottom: 48px;
}


.contacts-list-mobile {
  display: flex;
flex-direction: column;
gap: 24px;

}

.contacts-item-mobile {
  
}

.contacts-link-mobile {
  
font-weight: 500;
font-size: 20px;
line-height: 1.2;

}

/* Hero section */

.hero {

  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
  url('../images/hero/hero-bg_mob@1x.jpg');

}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
      ),
    url("../images/hero/hero-bg_mob@2x.jpg"); 
  }
}


  @media only screen and (min-width: 768px) {
    .hero {
      
  padding-top: 112px;
  padding-bottom: 112px;
  max-width: 768px;

  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
  url('../images/hero/hero-bg_tab@1x.jpg');
 }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
      ),
    url('../images/hero/hero-bg_tab@2x.jpg');
   }
  }


  @media only screen and (min-width: 1158px) {
    .hero {
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
  url('../images/hero/hero-bg_desk@1x.jpg');
    }
  }

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi),
  (min-resolution: 2dppx)
   {
    .hero {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
      url('../images/hero/hero-bg_desk@2x.jpg'); 
    }
  }

  
.hero-container {
}

.hero-text {

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
  max-width: 216px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

@media only screen and (min-width: 768px) {
  .hero-text {

font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
margin-bottom: 36px;
max-width: 496px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-text {
  margin-bottom: 48px;
  }
  } 
  

.hero-button {

  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  margin: 0 auto;

  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Section benefits */

.benefits {
  padding-top: 96px;
  padding-bottom: 96px;

}


.benefits-icon-wrapper{
  display: none;
}


@media only screen and (min-width: 1158px) {
  .benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.benefits-container {
}
.benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  
}


@media only screen and (min-width: 768px) {
 
.benefits-list {
  flex-direction: row;
  flex-wrap: wrap;
gap: 72px 24px;
justify-content:space-between;
}
}

@media only screen and (min-width: 1158px) {
 
  .benefits-list {
   
 
  justify-content:center;
  }
  }


.benefits-item {
  width: 288px;
}

@media only screen and (min-width: 768px){

  .benefits-item {
    width: 356px;
  }

}

@media only screen and (min-width: 1158px){

  .benefits-item {
    width: 264px;
  }

}



@media only screen and (min-width: 1158px) {
.benefits-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 112px;
}
.benefits-icon {
  display: block;
  margin: 0 auto;
}
}


.benefits-subtitle {
  /* */

font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}
@media only screen and (min-width: 768px){

  .benefits-subtitle {
    text-align: left;

  }
}
@media only screen and (min-width: 1158px){

  .benefits-subtitle {

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  }
}
.benefits-text {
  
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

  
}
@media only screen and (min-width: 1158px){

  .benefits-text {
    font-weight: 400;
  }}


/* Team section */

.team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
  @media only screen and (min-width: 1158px) {
    .team {
  padding-top: 120px;
  padding-bottom: 120px;
}
}

/* Mobile screen */
.team-title {

 margin: 0 auto;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
text-transform: capitalize;
}


.team-list {
display: flex;
flex-direction: column;
gap: 72px;
margin: 0 auto;
max-width: 264px;

}

@media only screen and (min-width: 768px) {
.team-list {
  flex-direction: row;
  flex-wrap: wrap;
gap: 64px 24px;
justify-content: center;
max-width: unset;
}
}
@media only screen and (min-width: 1158px) {
  .team-list {
  gap: 24px;
  
  }
}

.team-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   max-width: 264px;

  
}

.team-image{}


@media only screen and (min-width: 1158px) {
  .team-item {
   width: calc((100% - 3 * 24px) / 4); 
  }
}
.under-photo-description {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Socials */

.socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.mobile-menu-socials {
gap: 40px;
}

.socials-item {
}
.socials-link,
.socials-link-footer
 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}
.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}
.socials-icon,
.social-icon-mobile {
  fill: #f4f4fd;
}


.team-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-subtitle {

font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
  

}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

/* Section Portfolio */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
  
}
@media only screen and (min-width: 1158px) {
  .portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  }
}


.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media only screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
  
  }
  }

@media only screen and (min-width: 1158px) {
  .portfolio-list {
  
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  }
}



.portfolio-item {
  margin: 0 auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
@media only screen and (min-width: 768px) {
  .portfolio-item {
   width: calc((100% - 1 * 24px) / 2); 
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-item {
   width: calc((100% - 2 * 24px) / 3); 
  }
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.overlay {
  display: none;
}
@media only screen and (min-width: 1158px) {
.overlay {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 40px 32px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}
}
.portfolio-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

@media only screen and (min-width: 1158px) {
.portfolio-item {
  box-shadow: unset;
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
}

@media only screen and (min-width: 768px) and (min-width: 1158px) {
  
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.under-picture-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* footer */

.page-footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
  }
  @media only screen and (min-width: 1158px) {
    .page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
    }} 

    

.logo-part {
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  justify-content: center;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-logo {
    text-align: left; 
  } 
}
.page-footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  text-align: left; 
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  text-align: center;
  /* flex-direction: row;
  gap: 72px;
  flex-wrap: wrap; */
  
}
@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    align-items: baseline;
    gap: 72px 24px;
    text-align: left;
    flex-wrap: wrap;
  
}
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    padding: 0 108px;
  }  
}

@media only screen and (min-width: 1158px) {
  .footer-container {
  /* margin-left: unset;
  flex-wrap: nowrap;
  margin: 0 auto; */
  gap: 0;
  
  
  }
}

    .footer-socials-caption {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}
  

@media only screen and (min-width: 768px) {
  .footer-socials-caption {
    text-align: left; 
  } 
}


.footer-wrapper-right {
  
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 1158px) {
  .footer-wrapper-right {
margin-right: 80px;
  }}
.footer-wrapper-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 1158px) {
  .footer-wrapper-left {
margin-right: 120px;
  }}


 .footer-wrapper-subscribe {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  
}

@media only screen and (min-width: 768px) {
  .footer-wrapper-subscribe {
  gap: 24px;
}
} 
@media only screen and (min-width: 1158px) {
  .footer-wrapper-subscribe { 
  flex-wrap: nowrap;
  
}}
/* Footer socials */

.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: #31d0aa;
}

.footer-socials {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.footer-subscribe-text {
  margin-bottom: 16px;
text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .footer-subscribe-text {
  text-align: unset;
}
}

.form-input {
  width: 288px;
  
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;

  padding-left: 16px;

  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
} 
@media only screen and (min-width: 768px) {
  .form-input {
   width: 264px; 
  }
}

.form-input::placeholder {
  color: #fff;
}

.footer-button {
  
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;

  font-family: "Roboto", sans-serif; 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  cursor: pointer;
  
}
.footer-button-icon {
  margin-left: 16px; 
  fill: #fff;
}


/* Modal */


.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  max-width: 288px;

  min-height: 584px;
  width: 100%;
  transform: translate(-50%, -50%);

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 16px 40px 16px;
}
  
@media only screen and (min-width: 768px) {
    .modal {
      max-width: 408px;
  padding: 72px 24px 24px 24px;
    }
  }
  

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer; 

  border-radius: 50%;
  width: 24px;
  height: 24px;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {

  border: none;
  background-color: #404bbf;
}

.modal-btn-icon {
  fill: #2e2f42;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: #fff;
}

.modal-caption {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.modal-form {
  
}



.modal-form-field {
  margin-bottom: 8px;
}



.modal-form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px; 
  line-height: 1.17;
  letter-spacing: 0.04em;
  color:#8e8f99;
}
.modal-form-wrapper {
  position: relative;
  margin-bottom: 8px;
}


  

.modal-form-input {
  width: 100%;
  height: 40px;

  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 38px;

  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-input:focus,
.modal-form-input:hover,
.modal-form-input:active {
  border: 1px solid #4d5ae5;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.modal-form-input:focus + .modal-form-icon,
.modal-form-input:hover + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-message {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;

  font-size: 12px;
  line-height: 1.17; 
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent; 
  outline: transparent; 

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.modal-form-message:focus {
  border-color: #4D5AE5;
}

/* Custom checkbox ver.1 */

.modal-form-agreement {
  margin-bottom: 24px;
}
.modal-form-agreement-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

@media only screen and (max-width: 767px) {
  .modal-form-agreement-text {
   display: flex;
   align-items: center;
  }
}


.modal-form-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-right: 8px;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent; 
}

input[type='checkbox']:checked
  + .modal-form-agreement-text
  .modal-form-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-form-checkbox-icon {
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
}

input[type='checkbox']:checked
  + .modal-form-agreement-text
  .modal-form-checkbox
  .modal-form-checkbox-icon {
  opacity: 1;
}

.modal-form-agreement-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}


.hide {
display: none;
}